<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <main>
      <header class="Header">
        <div class="Our-logo">
          <img
            src="./assets/Screenshot_2024-08-25_115613-removebg-preview.png"
            alt=""
            width="100%"
            height="100%"
          />
        </div>
        <div class="Options">
          <div class="box-1">
            <a class="Linker" href="../first-dashboard/index.html"> Verge </a>
          </div>

          <div class="box-2">
            <div class="nav">
              <a class="Linker" href="../features/features.html">Features</a>
            </div>
            <div class="nav">
              <a class="Linker" href="../templates/index.html">Templates</a>
            </div>
            <div class="nav">
              <a class="Linker" href="../news feed/knowledge.html">News Feed</a>
            </div>
            <div class="nav">
              <a class="Linker" href="../About-us/index.html">About us</a>
            </div>
          </div>
          <div class="box-3">
            <div class="Get-wrapper">
              <div class="Get-Free">
                <a
                  class="Linker"
                  href="../Get started for free/GetStartedForFree.html"
                  >Get it free</a
                >
              </div>
            </div>
            <div class="Search-wrapper">
              <img class="Search" src="./search.svg" alt="" />
            </div>
            <div class="HZ-holder">
              <div class="horizontal-line"></div>
            </div>
            <div class="Sign-in-wrapper">
              <div class="Sign">
                <a class="Linker" href="../Login/index.html">Sign in</a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="Section">
        <div class="Wrapper">
          <div class="r"><h1>There’s a Verge template for that</h1></div>
          <div class="p">
            <p class="zeb">
              No need to start from scratch – choose from dozens of ready-made
              templates and get your project started quickly.
            </p>
          </div>
          <div class="cbt">
            <br />
            <br />
            <br />
            <div class="zain">
              <button class="b9">Software development</button>
              <button class="b9">Marketing</button>
              <button class="b9">Design</button>
              <button class="b9">Sales</button>
            </div>
            <br />
            <div class="line1">
              <button class="fistline">Operations</button>
              <button class="fistline">Project management</button>
              <button class="fistline">Service management</button>
              <button class="fistline">Human resources</button>
            </div>
            <br />
            <div class="lG">
              <button class="b9">Legal</button>
              <button class="b9">It operations</button>
              <button class="b9">Finance</button>
            </div>
          </div>
        </div>
      </div>
      <div class="second">
        <div class="secondWrapper">
          <div class="pic">
            <img
              style="width: 500px; height: 500px"
              src="./assets/Screenshot 2024-08-26 022719.png"
              alt=""
            />
          </div>
          <div class="line">
            Template of the month
            <br />
            <br />
            <br />
            <h1>Scrum</h1>
            <br />
            The scrum template is pre-formatted to help teams organize and plan
            their <br />work within the Scrum framework. Scrum is one of the
            most popular <br />frameworks for implementing agile. With scrum,
            the product is built in a <br />
            series of fixed-length iterations called sprints that give teams a
            framework <br />for shipping on a regular cadence.
            <br />
            <br />
            <button class="b7">Use template</button>
          </div>
        </div>
      </div>
    </main>
    <div class="lander">
      <div class="landerpage">
        <p>customer templates</p>
        <br />
        <h2>Inspire others with your workflow</h2>
        <br />
        <p>
          Showcase how your team works with Vergerassian products and help us
          build a template that others can use.
        </p>
        <br />
        <br />
        <button class="b7">Submit your idea</button>
      </div>
    </div>
    <footer>
      <div class="ft1-wrapper">
        <div class="ft2-wrapper">
          <div class="ft3-wrapper">
            <header>
              <div class="h-1">Verge</div>
              <div class="h-2">PRODUCTS</div>
              <div class="h-3">REASOURCES</div>
              <div class="h-4">LEARN</div>
            </header>
            <br />
            <div class="mama-div">
              <div class="f-1">
                <div>Company</div>

                <div>
                  <br />
                  Careers
                </div>
                <div>
                  <br />
                  Events
                </div>
                <div>
                  <br />
                  Blogs
                </div>
                <div>
                  <br />
                  Investor Relations
                </div>
                <div>
                  <br />
                  Atlassian Foundation
                </div>
                <div>
                  <br />
                  Contact us
                </div>
              </div>
              <div class="f-2">
                <div>Rovo</div>
                <div><br />Verge</div>

                <div>
                  <br />
                  Verge Align
                </div>
                <div>
                  <br />
                  Verge Service Management
                </div>
                <div><br />Confluence</div>
                <div>
                  <br />
                  Trello
                </div>
                <div>
                  <br />
                  Bitbucket
                </div>
                <br />
                <br />
                <div>See all products <strong>→</strong></div>
              </div>
              <div class="f-3">
                <div>Technical support</div>

                <div><br />Purchasing & licensing</div>
                <div>
                  <br />
                  Vergerassian Community
                </div>
                <div><br />Knowledge base</div>
                <div><br />Marketplace</div>
                <div>
                  <br />
                  My account
                </div>
                <br />
                <br />

                <div>Create support ticket <strong>→</strong></div>
              </div>
              <div class="f-4">
                <div>Partners</div>

                <div>
                  <br />
                  Training & certification
                </div>
                <div>
                  <br />
                  Documentation
                </div>
                <div>
                  <br />
                  Developer resources
                </div>
                <div>
                  <br />
                  Enterprise services
                </div>
                <br />
                <br />
                <div>See all resources <strong>→</strong></div>
              </div>
            </div>
          </div>
        </div>
        <div class="scd-holder">
          <div class="inside-1">
            <div>Copyright © 2024 Atlassian</div>
            <div class="bottom-1">
              <div>Privacy policy</div>
              <div>Terms</div>
              <div>Impressum</div>
              <div>English</div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
